@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0; }

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus,
:active {
  outline: none; }

a:focus,
a:active {
  outline: none; }

nav,
footer,
header,
aside {
  display: block; }

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input,
button,
textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

a,
a:visited {
  color: #0f0f0f;
  text-decoration: none; }

a:hover {
  text-decoration: none; }

ul li {
  list-style: none; }

img {
  vertical-align: middle; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit; }

/*--------------------*/
.header {
  background: #f3f3f9;
  padding: 8px 0;
  -webkit-box-shadow: 0 0 5px 0px #f3f3f9;
  box-shadow: 0 0 5px 0px #f3f3f9; }
  .header__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    font-weight: bold;
    height: 53px; }
  .header__main-menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .header__main-menu ul li {
      margin-left: 18px;
      font-size: 14px; }
  .header__call {
    font-size: 22px; }

.btn-burger {
  display: none;
  position: relative;
  background: none;
  width: 54px;
  height: 60px;
  border-radius: 5px; }
  .btn-burger span {
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    background: #000;
    width: 20px;
    height: 2px;
    -webkit-transition: 0.1s ease-out 0.1s;
    -moz-transition: 0.1s ease-out 0.1s;
    -o-transition: 0.1s ease-out 0.1s;
    transition: 0.1s ease-out 0.1s; }
    .btn-burger span:first-child {
      margin-top: -6px; }
    .btn-burger span:last-child {
      margin-top: 6px; }
  .btn-burger .active:first-child, .btn-burger .active:last-child {
    margin: 0; }
  .btn-burger .active:first-child {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-burger .active:last-child {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  .btn-burger .active:nth-child(2) {
    width: 0; }

.mobile {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 100px;
  background: rgba(255, 255, 255, 0.9);
  z-index: 2;
  padding: 20px; }

@media (max-width: 1190px) {
  .header__main-menu {
    display: none; }
  .btn-burger {
    display: block; } }

.footer {
  background: #0f0f0f;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  z-index: 0;
  padding: 0 20px;
  color: #939394; }
  .footer a {
    color: #939394; }
    .footer a:hover {
      color: #b7b7b8; }
  .footer__body {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
    padding: 50px 0 100px 0; }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -10px; }
    .footer__links a {
      padding: 0 10px; }
      .footer__links a img {
        margin-left: 5px; }
  .footer__logo {
    font-size: 20px;
    font-weight: bold;
    color: #fff !important; }
  .footer__uls {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px; }
    .footer__uls ul {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 22%;
      flex: 0 0 22%;
      border-top: 0.5px solid; }
      .footer__uls ul li {
        margin-top: 10px; }
        .footer__uls ul li:first-of-type {
          margin: 20px 0;
          color: #ffd200;
          font-weight: bold; }
  .footer__copy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 35px; }
  .footer__call {
    font-size: 22.5px;
    font-weight: bold;
    color: #fff !important; }

@media (max-width: 767px) {
  .footer__links,
  .footer__copy,
  .footer__uls {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer__uls ul {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-bottom: 20px; } }

/** Generated by FG **/
@font-face {
  font-family: "Tahoma";
  src: url("/fonts/Tahoma.eot");
  src: local("☺"), url("/fonts/Tahoma.woff") format("woff"), url("/fonts/Tahoma.ttf") format("truetype"), url("/fonts/Tahoma.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }
  .ibg img {
    visibility: hidden;
    width: 100%;
    height: 100%; }

.e_page {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: #0f0f0f; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1300px;
  width: 100%; }

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative; }
  .main__body {
    width: 100%;
    font-size: 14px; }
  .main__orders {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .main__order {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    padding: 0 15px; }
    .main__order button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      border: solid 1px #cfa736;
      height: 65px;
      width: 100%;
      background: #ffd205;
      font-size: 18px;
      position: relative;
      overflow: hidden; }
      .main__order button span:first-of-type {
        margin: 0 auto;
        padding-right: 50px; }
      .main__order button span:last-of-type {
        position: absolute;
        background: #ebcc7e;
        top: -15px;
        right: -30px;
        height: 100px;
        width: 100px;
        -webkit-transform: rotate(-70deg);
        -ms-transform: rotate(-70deg);
        transform: rotate(-70deg); }
        .main__order button span:last-of-type::after {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          height: 100%;
          content: url("/images/f/page/airplane.png");
          -webkit-transform: rotate(70deg);
          -ms-transform: rotate(70deg);
          transform: rotate(70deg);
          padding-right: 35px;
          opacity: 0.65; }
  .main__server p {
    margin-top: 35px; }
  .main__server ul {
    margin-top: 20px;
    margin-left: 35px; }
    .main__server ul li {
      margin-bottom: 10px; }
      .main__server ul li::before {
        content: url("/images/f/page/li-marker.png");
        margin-right: 5px; }
  .main__server-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main__server-img img {
      width: 220px;
      height: auto; }
  .main__btn-call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main__btn-call button {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      border: 1px solid #19a629;
      background-color: #19a629;
      color: #fff;
      font-size: 12px;
      padding: 5px 10px;
      margin: 20px 0 10px 0; }
      .main__btn-call button span {
        padding: 0 20px 0 15px; }
  .main__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 50px; }
    .main__blocks section {
      text-align: center; }
    .main__blocks h4 {
      margin-top: 10px; }
  .main__text h2 {
    text-align: center;
    font-family: "Tahoma";
    border-bottom: 6px solid #ffd205;
    padding-bottom: 10px;
    margin: 35px 0;
    font-size: 16px; }
  .main__text p {
    padding-left: 5px;
    text-align: justify;
    font-size: 13.5px; }
  .main__text ul {
    margin-left: 45px; }
    .main__text ul li {
      list-style: disc; }
  .main__text_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main__text_img img {
      width: 250px;
      height: auto; }
  .main__text_blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 30px; }
    .main__text_blocks ul li {
      font-weight: bold; }
      .main__text_blocks ul li a {
        color: #398ec4;
        text-decoration: underline; }
    .main__text_blocks section {
      text-align: center;
      margin-right: 5%; }
      .main__text_blocks section button {
        border: 1px solid #333;
        border-radius: 5px;
        padding: 15px 20px;
        background: none 0% 0% repeat scroll #34b134;
        margin-top: 25px; }
  .main__text_ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    list-style: none !important; }
    .main__text_ul li::before {
      content: url("/images/f/page/marker.png");
      margin-right: 20px; }
    .main__text_ul li b {
      margin-bottom: 20px; }
    .main__text_ul li p {
      width: 87%;
      padding-right: 30px; }
  .main__text_btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px; }
    .main__text_btn button {
      border: 1px solid #333;
      background: none 0% 0% repeat scroll #f7321e;
      border-radius: 5px;
      padding: 15px 20px; }
  .main__text_companies {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    .main__text_companies div {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 15%;
      flex: 0 0 15%;
      margin: 0 20px; }
      .main__text_companies div img {
        width: 100%;
        height: 100%; }

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-item-align: start;
  align-self: flex-start;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 325px;
  flex: 0 0 325px;
  padding: 0 15px 0 30px; }
  .sidebar h3 {
    width: 100%;
    margin: 30px 0 7px 0; }
    .sidebar h3:first-of-type {
      font-weight: normal;
      text-align: center;
      margin: 0; }
  .sidebar__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-top: 6px solid #ffd205;
    width: 100%;
    padding: 10px 0;
    margin-top: 10px; }
  .sidebar__text {
    margin-left: 30px; }
    .sidebar__text p {
      margin-bottom: 5px; }
    .sidebar__text a {
      border-bottom: dashed 1px; }
      .sidebar__text a:hover {
        border: 0; }
  .sidebar__img img {
    width: auto;
    height: 100%; }
  .sidebar ul {
    width: 100%; }
    .sidebar ul li {
      margin-bottom: 10px;
      padding: 3px 0 3px 18px;
      border-left: 6px solid #c3c3c3; }
      .sidebar ul li:hover {
        border-left: 6px solid #ffd205;
        border-bottom: 1px solid #ffd205; }
      .sidebar ul li a {
        color: #515f66;
        font-size: 13px; }

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  line-height: 32px;
  font-size: 28px;
  text-align: center;
  margin: 60px 0 20px 0; }
  h1 span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 96%; }
    h1 span::before, h1 span::after {
      content: "";
      border: 1px dotted #828990;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(90deg);
      height: 30px;
      margin: 0 24px; }

@media (max-width: 992px) {
  .container {
    display: -ms-grid;
    display: grid; } }

@media (max-width: 767px) {
  h1 span {
    width: 100%;
    margin: 0; }
  .main__order {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto; }
  .main__blocks {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; }
    .main__blocks section {
      margin-top: 15px; }
  .main__text p {
    padding: 10px; }
  .main__text_blocks section {
    text-align: center;
    margin: 25px auto 0; }
  .main__text ul {
    width: 100%;
    margin: 0;
    padding: 0 30px; }
  .main__text_ul li {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; } }
